:root {
  --color-yellow-dark: #F0B026;
  --margin-left: 100px;
  --card-shadow: 3px 3px 5px #999;
}
* {
  box-sizing: border-box;
}
html, body {
  font-size: 14px;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.54;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main {
  padding: 40px 0;
}