.l-wrapper {
  margin: 0 auto;
  width: calc(100% - 100px);
}
@media screen and (max-width: 768px) {
  .l-wrapper {
    width: calc(100% - 40px);
  }
}
.l-wrapper.xl {
  max-width: 1240px;
}
.l-wrapper.l {
  max-width: 960px;
}
.row {
  display: flex;
}
.grid {
  display: grid;
}
.grid-16 {
  grid-template-columns: repeat(16, 1fr);
}
.gap-20 {
  gap: 20px;
}

@media screen and (min-width: 680px) {
    .lg-68-32 {
        grid-template-columns: 68% 32%;
    }
    .page main, .post main {
        grid-column: 1 / 2;
        padding-right: 20px;
    }
    .page aside, .post aside {
        align-self: flex-start;
        border-left: 1px solid var(--color-yellow-dark);
        grid-column: 2 / 3;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-left: 20px;
    }
}
@media screen and (min-width: 768px) {
    .index-introduction {
      grid-template-columns: 220px auto;
    }
    .lg-30-70 {
      grid-template-columns: 30% 70%;
    }
    .page main, .post main {
        padding-right: 40px;
    }
    .page aside, .post aside {
        padding-left: 40px;
    }
  }
.page aside, .post aside {
    margin-bottom: 20px;
}

.page main > .wysiwyg > *:first-child, .post main > .wysiwyg > *:first-child {
    margin-top: 0;
}
aside > * + * {
    margin-top: 40px;
}
