.l-wrapper {
    margin: 0 auto;
    width: calc(100% - 100px);
}
.l-wrapper.xl {
    max-width: 1240px;
}
.l-wrapper.l {
    max-width: 960px;
}
.row {
    display: flex;
}
@media screen and (min-width: 768px){
    .col-20-80:first-child {
        width: 20%;
    }
    .col-20-80:last-child {
        width: 80%;
    }
}