.l-wrapper {
    margin: 0 auto;
    width: calc(100% - 100px);
}
.l-wrapper.xl {
    max-width: 1240px;
}
.l-wrapper.l {
    max-width: 960px;
}
.row {
    display: flex;
}
.grid {
    display: grid;
    gap: 20px;
}
.grid-16 {
    grid-template-columns: repeat(16, 1fr);
}
.card-section {
    grid-template-rows: 10px auto;
}
@media screen and (min-width: 768px) {
    .index-introduction {
        grid-template-columns: 220px auto;
    }
    .lg-30-70 {
        grid-template-columns: 30% 70%;
    }
}