/**
* HEADER AREA
*/
.header.primary > div {
  display: flex;
  justify-content: space-between;
}
/**
* NAVIGATION
*/

/**
* FOOTER AREA
*/

.footer.primary {
  background-color: var(--color-yellow-dark);
  position: relative;
}
.footer.primary > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
}
.logo-bottom {
  display: block;
  width: 200px;
}
.fyn-deco {
  position: absolute;
  right: 0;
  top: 0;
}
.fyn-wrapper {
  transform: scale(10) translate(-20px, -130px);
}
.fyn-deco .opacified {
  opacity: 0.26;
}
.fyn-deco .map-needle {
  opacity: 0.55;
  transform: translate(12.2%, 10.5%);
}
.fyn-deco .map-needle circle {
  animation: pulse 10s infinite;
  border-radius: 50%;
  outline: 1px solid transparent;
}
@media screen and (min-width: 768px) {
  .logo-bottom {
    margin-left: 100px;
  }
}
.footer-widget {
  align-self: flex-start;
  margin-left: auto;
}
.footer-widget * {
  text-align: right;
}
.footer-widget h3 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-widget a {
  color: #000;
  text-decoration: none;
}
