
/**
* FOOTER AREA
*/

.footer.primary {
    background-color: var(--color-yellow-dark);
    padding-bottom: 60px;
    padding-top: 60px;
}
.fotter.primary > div {
    position: relative;
}
@media screen and (min-width: 768px {
    .fyn-deco {
        position: absolute;
        right: 0;
        width: 50%;
    }
}