/**
* HEADER AREA
*/
.header.primary {
  padding-bottom: 32px;
  padding-top: 32px;
}
.header.primary > div {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width:1140px) {
  .header.primary {
    padding-top: 90px;
  }
}
@media screen and (max-width: 640px) {
  .logo-link svg {
    width: 160px;
  }
}
/**
* NAVIGATION
*/
.nav.primary {
  background-color: #fff;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  max-width: 100%;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.4s;
  width: 768px;
  z-index: 10;
}
.nav-is-open .nav.primary {
  transform: translateX(0);
  transition: transform 0.4s;
}
.nav-is-open {
  overflow: hidden;
}
@media screen and (min-width: 1140px) {
  .nav.primary {
    display: block;
    height: auto;
    max-width: none;
    padding: 0;
    position: static;
    transform: translateX(0);
    width: auto;
  }
}
.nav.primary > ul {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.nav.primary a {
  border-right: 2px solid var(--color-yellow-dark);
  color: #000;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.54;
  padding-right: 15px;
  text-align: right;
  text-decoration: none;
}
@media screen and (min-width: 1140px) {
  .nav.primary > ul {
    flex-direction: row;
  }
  .nav.primary li {
    border-left: 1px solid var(--color-yellow-dark);
  }
  .nav.primary li:last-child {
    border-right: 1px solid var(--color-yellow-dark);
  }
  .nav.primary a {
    border-right: none;
    font-size: 16px;
    padding-right: 0;
    text-align: center;
    width: 120px;
  }
}
@media screen and (min-width:1320px) {
  .nav.primary a {
    width: 150px;
  }
}
.nav-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.nav-toggle:focus {
  outline: none;
}
@media screen and (min-width: 1140px) {
  .nav-toggle {
    display: none;
  }
}
/**
* POST THUMBNAIL
*/
.wp-post-image {
  display: block;
  width: 100%;
}
/**
* MAIN AREA
*/
.the_content > *:first-child {
  margin-top: 0;
}
.logo-index {
  width: 220px;
}
.wysiwyg strong {
  font-size: 18px;
  font-weight: 400;
}
/* FLEX */
.card-layout {
  background-color: #fff;
  box-shadow: var(--card-shadow);
  padding: 10px;
}
main h2.section-heading {
  box-shadow: var(--card-shadow);
  display: inline-block;
  font-weight: 400;
  margin-left: -100px;
  margin-bottom: 0;
  padding-left: 10px;
  text-transform: uppercase;
  width: 200px;
}
.hff-mod .wysiwyg {
  align-self: flex-start;
  grid-row: 1;
  margin-top: 20px;
  z-index: 5;
}
.hff-mod .primary-img {
  grid-row: 1;
}
.hff-mod.hff-mod-img-wysiwyg .primary-img {
  grid-column: 1 / 12;
}
.hff-mod.hff-mod-img-wysiwyg .wysiwyg {
  grid-column: 9 / 17;
}
.hff-mod .wysiwyg *:first-child {
  margin-top: 0;
}

.hff-mod.hff-mod-wysiwyg-img .wysiwyg {
  grid-column: 1 / 10;
}
.hff-mod.hff-mod-wysiwyg-img .primary-img {
  grid-column: 7 / 17;
}
/**
* FOOTER AREA
*/

.footer.primary {
  background-color: var(--color-yellow-dark);
  position: relative;
  z-index: 5;
}
.footer.primary > div {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 640px) {
  .footer.primary > div {
    flex-direction: row;
  }
}
.logo-bottom {
  display: block;
  width: 200px;
}
.fyn-deco {
  position: absolute;
  right: 0;
  top: 0;
}
.fyn-wrapper {
  transform: scale(6) translate(-100px, -130px);
}
@media screen and (min-width: 700px) {
  .fyn-wrapper {
    transform: scale(10) translate(-20px, -130px);
  }
}
.fyn-deco .opacified {
  opacity: 0.26;
}
.fyn-deco .map-needle {
  opacity: 0.55;
  transform: translate(12.2%, 10.5%);
}
.fyn-deco .map-needle circle {
  animation: pulse 10s infinite;
  border-radius: 50%;
  outline: 1px solid transparent;
}
.footer-widget {
  align-self: flex-start;
  margin-left: auto;
}
.footer-widget * {
  text-align: right;
}
.footer-widget h3 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-widget a {
  color: #000;
  text-decoration: none;
}